[Unit]
Description=Touchscreen learning tool
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
Restart=always
RestartSec=1
WorkingDirectory=%h/Touchscreen
ExecStart=%h/Touchscreen/touchscreen.sh

[Install]
WantedBy=graphical-session.target
